@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Open+Sans:wght@400;600&family=Playfair+Display:wght@400;600&display=swap");
:root {
  --primary-color: #203562;
  --background-color: #203562;
  --secondary-color: #e3e8f8;
  --third-color: #F5F5F5;
  --primary-font: "Montserrat";
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  display: inline-table;
}
/* Hides from IE-mac \*/
* html .clearfix {
  height: 1%;
}
.clearfix {
  display: block;
}
/* End hide from IE-mac */

body {
  font-family: "Montserrat";
}
.fl {
  float: left;
}
.fr {
  float: right;
}

blockquote p {
  margin: 0;
  padding: 0;
}
img {
  border: none;
}
ul.left {
}

ul.right {
  text-align: right;
}
a:link,
a:visited {
  text-decoration: none;
  color: #0077bb;
}
a:hover,
a:active {
  color: #0099cc;
  text-decoration: underline;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
form,
fieldset {
  padding: 0;
  margin: 0;
  border: none;
}
textarea {
  resize: none;
}
.logo {
  width: 200px;
  margin-top: 10px;
}
.search {
  margin-top: 10px;
}
.nav {
  height: 10%;
  background-color: #00aeec;
}
.nav-wrapper {
  margin: 0 auto;
  width: 998px;
}
.nav ul,
.header ul,
.sidebar ul {
  list-style: none;
  list-style-type: none;
}
.nav ul li,
.header ul li {
  display: inline;
  padding: 0px 10px 0px 10px;
}
.nav ul li {
  padding: 0 20px;
}
